body {
  font-family: 'Nunito', sans-serif;
  padding: 0;
  margin: 0;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #081935;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar a {
  display: block;
  padding: 15px;
  text-decoration: none;
  font-size: 16px;
  color: whitesmoke;
  transition: 0.3s;
}

.sidebar a:hover {
  color: white;
  background-color: rgb(255, 255, 255, 0.1);
  border: 1px solid white;
  border-radius: 15px;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 20px;
  margin: 0;
  right: 1px;
  padding: 5px;
  transition: 1s;
}

.sidebar .closebtn:hover {
  background-color: none;
  border: none;
  color: rgb(255, 0, 0);
  background-color: #081935;
  transition: 1s;
}

.openbtn {
  position: relative;
  font-size: 20px;
  cursor: pointer;
  background-color: #081935;
  color: white;
  border: none;
  border-radius: 50px;
  width: fit-content;
  height: fit-content;
  top: 20px;
  left: 10px;
  transition: background-color 0.5s, color 0.5s, width 0.5s, transform 0.5s; /* Include transform in the transition */
  margin-right: 10px;
}

.openbtn:hover {
  color: rgb(212, 255, 0);
  transform: rotate(-50deg); /* Rotate when hovering */
}

.openbtn::after {
  content: "";
  background-color: rgb(254, 254, 255);
  color: #081935;
  width: 100px;
  transition: background-color 0.5s, color 0.5s, width 0.5s;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
}


@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
.menu{
  color:white;
  position: absolute;
  top: 1px;
  left: 70px;
}
.cntr{
}
.flex{
  display:flex;
  width:100%;
  margin-top: 0;
  padding: 0;
  gap: 5px;
}
.flex li{
  list-style:none;
  color:black;
  margin-top: 6px;
}
h2{
  color:white;
  margin-left: 25px;
  font-size: 25px;
}
/*Employee dropdown*/
.dropdown-content {
  display: none;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
  padding-left: 40px;
}
.dropdown-content a{
  font-size: 13px;
  border-left: 1px solid white;
}
.show {display: block;}

.hrms {
  font-family: 'Noto Serif', serif;
  margin-top: 10px;
  width: 200px;
  text-align: center;
  font-weight: bolder;
  font-size: 2.0em;
  height: fit-content;
  /* Adding linear gradient background */
  background: linear-gradient(90deg, rgba(0, 229, 255, 0.981), rgb(244, 244, 244));
  -webkit-background-clip: text;
  color: transparent;
  /* Border styles */
  border-top: 2px solid transparent;
  border-image: linear-gradient(90deg, rgba(136, 2, 254, 0.981) 0%, rgba(3, 0, 255, 1) 90%);
  border-image-slice: 1;
  border-bottom: 2px solid transparent;
}


ul.flex {
  margin-bottom: 0px;
  height: 60px;
}
.flex {
  display: flex;
  width: 100%;
  margin-top: 0;
  padding: 0;
  gap: 5px;
  background-color: #081935;
}
div#main{
  padding: 0;
}